runpod>=1.6.0
huggingface-hub>=0.24,<1.0
transformers>=4.37,<5.0
sentencepiece
librosa==0.10.2.post1
soundfile==0.12.1
numpy<2
scipy
inflect
unidecode
unidic-lite
cn2an
pypinyin
jieba
mecab-python3
num2words
pykakasi
cached-path
tqdm
anyascii
pydantic<3
